/*logo*/
/* NiCommodities */
.logo-img {
  /* Vector */

  position: absolute;
  left: 12.5%;
  right: 12.28%;
  top: 12.5%;
  bottom: 12.5%;

  background: #FFFFFF;

}

.logo-text {
  transform: translateY(50%);
  position: absolute;
  width: 200px;
  height: 20px;
  left: 65px;

  font-family: 'Genos', sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 20px;

  /* identical to box height, or 50% */

  color: white;
}

/*HOME PAGE*/
.main-title {
  color: #065E05;
  font-size: 40px;
  font-style: bold;
  padding-top: 80px;
}

.main-img {
  transform: translateX(50%);
}



.container-img {
  background-color: #065E05;
  width: 350px;
  height: 500px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.img-slider {
  margin-top: 50px;
  border-radius: 20px;
}

.btn-login {
  margin-left: 5px;
}

.inicio-img {
  margin-top: 20px;
  width: 350px;
  border-radius: 10px;
  max-width: 350px;
  height: 350px;
  margin-left: 120px;

}

.carousel-inner h2 {
  text-align: center;
  color: white;
}

/*-------------Inicio Acerca de--------------*/

main .main-object-parrafos{
  width: 80%;
  height: 300px;
  text-align: center;
  margin: 0 auto;
}

main .main-object-parrafos .row div{
  width: 350px;
  display: inline-block;
  justify-content: center;
  justify-items: center;
  margin-top: 100px;
  margin-right: auto;
  box-shadow: 0 1px 6px 0 black;;
  border-radius: 10px;
  }

/*-------------Fin Acerca de--------------*/

.mb-3,
.col-12 {
  width: 50%;
  padding-left: 10%;
}

.col-12 {
  padding-left: 10%;
}

.btn-primary {
  width: 120px;
}

/*---------------PRODUCTS----------------*/
.products-container {
  /*margin: 50px;*/
  padding: 5px;
}

.img-products img {
  border-radius: 10px;
  margin-left: 30px;
}

.img-products h4 {
  text-align: center;
}

.colprod1 {
  padding-left: 50px;
}

.colprod2 {
  padding-left: 70px;
  padding-bottom: 20px;
}

.item-commodities {
  inset-inline: block;
  position: relative;
  
}

.item-commodities img{
  width: 300px;
}

.item-commodities a {
  text-decoration: none;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-commodities:hover {

  filter: brightness(50%);

}

/*-------Footer-------*/
footer{
  width: 100%;
  height: 280px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  font-size: 18px;
  background-color: green;
  border-top: 1 solid #e4e4e4;
}

a{
  text-decoration: none;
  cursor: pointer;
}

/*El lado izquierdo del footer*/
footer .footer-left{
  margin-top: 20px;
  justify-self: left;
  margin-left: 100px;
}
footer .footer-left .footer-content-logo h1{
  transform: translateY(50%);
  width: 200px;
  height: 20px;
  left: 65px;

  font-family: 'Genos', sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 30px;
  line-height: 20px;
  color: white;
}

footer .footer-left .footer-content-logo{
  display: flex;
}

footer .footer-left p{
  margin-top: 20px;
  width: 600px;
  color: white;
  font-size: 20px;
}
footer .footer-left h5{
  font-size: 14px;
  color: #D9DBE1;
  margin-top: 40px;
}

/*El lado derecho del footer*/
footer .footer-right{
  margin-top: 20px;
  justify-self: center;
}
footer .footer-right ul{
  list-style: none;
}
footer .footer-right h3{
  color: white;
  margin-left: 30px;
  margin-bottom: 20px;
}

footer .footer-right .icon1::before{
  content:   url('../assets/iconEmail.png') ;
}
footer .footer-right .icon2::before{
  content:   url('../assets/iconPhone.png') ;
}
footer .footer-right .icon3::before{
  content:   url('../assets/iconLocation.png') ;
}

footer .footer-right ul li a{
  margin-left: 10px;
  color: white;
}

footer .footer-right h5{
  font-size: 14px;
  color: #D9DBE1;
  margin-top: 80px;
}

main .main-carrucel-container .row{
  display: inline-block;
}

main .main-anuncio{
  text-align: center;
  margin-top: 40px;
  width: 650px;
  height: 380px;
  border-radius: 10px;
  background-color: #198754;
  justify-items: center;
  justify-content: center;
}

main .container .content-video{
  margin-left: 300px;
}

main .main-anuncio .anuncio-video{
  border-radius: 10px;
}

/*nombre de la sesion*/
#session{
  color: white;
  font-size: 20px;
  margin-left: 5px;
}


  
