body {
  margin: 0;
  padding: 0;
  background: url(../assets/commodities.jpg) no-repeat center top;
  background-size:cover;
  background-attachment: fixed;
  font-family: sans-serif;
  height: 100vh;
  padding-bottom: 10px;
}

.login-box {
  width: 340px;
  height: 900px;
  background: #fff;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -30%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 4%;
  
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: center;
  top: -50px;
  left: calc(50% - 50%);
  right: calc(50% - 50%);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 25px;
  color: #000;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  color: #000;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
  
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #1c81f5;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #3BA840;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
  
}

.logo{
  width: 110px;
  height: 110px;
  position: absolute;
  transform: translateX(70px) translateY(-120px);
  background-color: rgb(59, 59, 59);
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  align-content: center;
}

.logo:hover{
  background-color: rgb(110, 110, 110);
}
.logo img{
  position: absolute;
  margin-left: 35%;
  cursor: alias;
  width: 32px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* webcam */
.content-media{
  width: 100%;

}

.col{
  display: flex;
  align-items: center;
  align-content: center;
}

canvas{
  width: 600px;
  height: 250px;
}

.btn-registrarme{
  width: 100%;
  margin-bottom: 20px;
  border: none;
  outline: none;
  height: 40px;
  background: #1c81f5;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
/*.logo svg{
  margin-left: 13px;
  margin-top:12px ;
}*/

.link:hover{
  color: rgb(71, 71, 71);
}